@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin-top: 4rem;
  background-color: white;
}


/* Para navegadores webkit */
::-webkit-scrollbar {
  width: 9px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #a0c0d5; /* Color del fondo del thumb (la parte que puedes arrastrar) */
  border-radius: 8px; /* Bordes redondeados del thumb */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color del fondo del track (la parte donde el thumb se desplaza) */
}
